@page "/about"
@inject IStringLocalizer<App> Localizer
@inject ContentService ContentService

<h1>@Localizer["About"] @Localizer["AppName"] </h1>

@if (Html is not null)
{
    @((MarkupString)Html)
}

<h2> @Localizer["Contact"]</h2>
<p>Stefan Fjällemark</p>
<h2>@Localizer["References"]</h2>
<ul>
    <li><a href="https://github.com/tellurianinteractive/Tellurian.Trains.ModuleMeetingApp/blob/master/RELEASENOTES.md" target="_blank">Release notes</a></li>
    <li><a href="https://github.com/tellurianinteractive/" target="_blank">Tellurian Interactive &#64; GitHub</a></li>
    <li><a href="https://tellurian.se/" target="_blank">Tellurian Interactive AB</a></li>
    <li><a href="https://dotnet.microsoft.com/" target="_blank">Microsoft .Net 5.0</a></li>
    <li><a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">Blazor Webassembly</a></li>
    <li><a href="https://visualstudio.microsoft.com/" target="_blank">Microsoft Visual Studio</a></li>
</ul>
<p>&copy; Tellurian Interactive AB, 2018-@DateTime.Now.Year</p>

@code {
    private string? Html;

    protected async override Task OnInitializedAsync()
    {
        Html = await ContentService.GetHtmlContent(CultureInfo.CurrentCulture, "About");
    }
}