@page "/clock"

@using System.Timers;
@using Tellurian.Trains.MeetingApp.Shared

@inject ClocksService Clocks
@inject RegistrationsService RegistrationService
@inject IStringLocalizer<App> Localizer


@if (Status == null)
{
    <div class="clock-time">
        <div class="unavailable">00:00</div>
    </div>
    <div class="message-text">@Localizer["WaitingForData"]</div>
    @if (Registration != null)
    {
        <div class="speed-text">@string.Format(CultureInfo.CurrentCulture, Localizer["CurrentClockName"], Registration.ClockName ?? Localizer["None"]).</div>
    }
}
else if (Status.IsUnavailable)
{
    <div class="clock-time">
        <div class="@Status.StatusClass()">--:--</div>
    </div>
    <div class="message-text">@Localizer["WaitingForBetterTimes"]</div>
    @if (Registration != null)
    {
        <div class="speed-text">@string.Format(CultureInfo.CurrentCulture, Localizer["CurrentClockName"], Registration.ClockName ?? Localizer["None"]).</div>
    }
}
else
{
    @if (Status.Weekday.HasValue())
    {
        <div class="day-text">
            <div class="@Status.StatusClass()">
                @Localizer[Status.Weekday]
            </div>
        </div>
    }
    <div class="clock-time">
        <div class="@Status.StatusClass()">@Status.Time</div>
    </div>
    @if (Status.IsPaused)
    {
        <div class="message-text">@Localizer["GameIsPausedFor"] @Localizer[Status.PauseReason].</div>
        @if (Status.ExpectedResumeTimeAfterPause.HasValue())
        {
            <div class="message-text">@string.Format(CultureInfo.CurrentCulture, Localizer["GameIsResumedAtTime"], Status.ExpectedResumeTimeAfterPause)</div>
        }
    }
    else if (Status.StoppedByUser.HasValue() && Status.StoppingReason.HasValue())
    {
        @if (Status.StoppingReason == nameof(Tellurian.Trains.Clocks.Server.StopReason.Other))
        {
            <div class="message-text">@string.Format(Localizer["StoppedByUser"], Status.StoppedByUser).</div>
        }
        else
        {
            <div class="message-text">@string.Format(Localizer["UserHasStoppedOfReason"], Status.StoppedByUser, Localizer[Status.StoppingReason]).</div>
        }
    }
    else if (Status.IsCompleted)
    {
        <div class="message-text">@Localizer["GameOver"]</div>
    }
    else
    {
        <div class="message-text">@Status.Message.ToString(CultureInfo.CurrentCulture)</div>
    }

    @if (IsShowingMore)
    {
        <button class="btn btn-secondary w-100" @onclick="ShowLess">@Localizer["ShowLess"]</button>

        @if (Status.IsRealtime)
        {
            <div class="message-text">@Localizer["ClockIsRunningInRealTime"].</div>
        }
        else
        {
            @if (!Status.IsCompleted)
            {
                <div>
                    <div class="speed-text">@string.Format(CultureInfo.CurrentCulture, Localizer["CurrentClockName"], Status.Name).</div>
                    <div class="speed-text">@string.Format(CultureInfo.CurrentCulture, Localizer["ClockSpeed"], Status.Speed).</div>
                    <div class="speed-text">@string.Format(CultureInfo.CurrentCulture, Localizer["GameHourIsMinutes"], 60 / Status.Speed).</div>
                    @if (Status.PauseTime.HasValue() && Status.ExpectedResumeTimeAfterPause.HasValue())
                    {
                        <div class="speed-text">@string.Format(CultureInfo.CurrentCulture, Localizer["PauseBetweenTimeForReason"], Status.PauseTime, Status.ExpectedResumeTimeAfterPause, Localizer[Status.PauseReason]).</div>
                    }
                    else if (Status.PauseTime.HasValue())
                    {
                        <div class="speed-text">@string.Format(CultureInfo.CurrentCulture, Localizer["PauseAtTimeForReason"], Status.PauseTime, Localizer[Status.PauseReason]).</div>
                    }
                    <div class="speed-text">@string.Format(CultureInfo.CurrentCulture, Localizer["GameEndsAtTime"], Status.FastEndTime, Status.RealEndTime).</div>
                </div>
                <div class="clock-stop">
                    @if (Registration != null && Registration.IsRegistered())
                    {
                        @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                        {
                            <div class="alert-danger">
                                @ErrorMessage
                            </div>
                        }
                        @if (Status.IsRunning)
                        {
                            <div class="form-group">
                                <EditForm Model="@stopClockModel">
                                    <InputSelect Class="form-control" id="stopReason" @bind-Value="@stopClockModel.Reason">
                                        @foreach (var item in EnumExtensions.StopReasons)
                                                                {
                                            <option value="@item.value">@Localizer[item.display]</option>
                                                                }
                                    </InputSelect>
                                </EditForm>
                            </div>
                            @if (stopClockModel.HasReason)
                            {
                                <button class="btn btn-danger btn-lg w-100" @onclick="async () => await Stop()">@Localizer["Stop"]</button>
                            }
                        }
                        else if (Status.IsPaused)
                        {
                            <div>@Localizer["GameIsPaused"]. @Localizer["OnlyAdministratorCanStart"]. </div>
                        }
                        else
                        {
                            <button class="btn btn-success btn-lg w-100" @onclick="async () => await Start()">@Localizer["Start"]</button>
                        }
                    }
                    else
                    {
                        <div class="other-text">
                            @Localizer["RegisterNameForStoppingClock"]<br />
                            <a class="btn btn-primary btn-sm w-50" href="register">@Localizer["Register"]</a>
                        </div>
                    }
                </div>
            }
        }
    }
    else
    {
        <button class="btn btn-secondary w-100" @onclick="ShowMore">@Localizer["ShowMore"]</button>
    }
}

@code
{
    ClockStatus? Status;
    Timer? UpdateTimer;
    bool IsShowingMore;
    Registration? Registration;
    StoppingClockModel stopClockModel = new StoppingClockModel();
    string? ErrorMessage;


    protected override async Task OnInitializedAsync()
    {
        UpdateTimer = new Timer(2000);
        UpdateTimer.Elapsed += OnTimedEvent;
        UpdateTimer.Enabled = true;
        Registration = await RegistrationService.Get();
        Status = await Clocks.GetStatus(ClockName, Registration?.UserName);
        ErrorMessage = null;
    }

    private async void OnTimedEvent(object source, System.Timers.ElapsedEventArgs e)
    {
        await Update();
    }

    private async Task ShowMore()
    {
        Registration = await RegistrationService.Get();
        IsShowingMore = true;
        this.StateHasChanged();
    }

    private void ShowLess()
    {
        IsShowingMore = false;
        this.StateHasChanged();
    }

    private async Task Update()
    {
        Status = await Clocks.GetStatus(ClockName, Registration?.UserName);
        this.StateHasChanged();
    }


    private async Task Start()
    {
        ErrorMessage = null;
        if (Status == null || Registration == null) return;
        var result = await Clocks.Start(ClockName, Registration?.ClockPassword, Registration?.UserName);
        if (!result.IsSuccessStatusCode)
        {
            ErrorMessage = Localizer[result.StatusCode.ToString()];
            if (result.StatusCode == System.Net.HttpStatusCode.Unauthorized)
            {
                ErrorMessage += " " + string.Format(CultureInfo.CurrentCulture, Localizer["AnotherUserHasStoppedClock"], Status.StoppedByUser);
            }
        }
        this.StateHasChanged();


    }
    private async Task Stop()
    {
        ErrorMessage = null;
        if (Status == null || Registration == null) return;
        var result = await Clocks.Stop(ClockName, Registration?.ClockPassword, Registration?.UserName, stopClockModel.Reason);
        if (!result.IsSuccessStatusCode)
        {
            ErrorMessage = Localizer[result.StatusCode.ToString()];

        }
        stopClockModel = new StoppingClockModel();
        this.StateHasChanged();
    }

    private string ClockName => Registration?.ClockName ?? ClockSettings.DemoClockName;
}
