@page "/"
@using System.Globalization

@inject ClocksService Clocks
@inject RegistrationsService Registrations
@inject ContentService ContentService
@inject IStringLocalizer<App> Localizer

<h1>@string.Format(CultureInfo.CurrentCulture, Localizer["WelcomeUser"].Value, UserName)</h1>

@if (Html is not null)
{
    @((MarkupString)Html)
}
@if (ShowSelectClockAndMoreSettings)
{
    <h2>@Localizer["SelectClockAndMoreSettings"]</h2>
    <a class="btn btn-primary btn-sm w-50" href="settings">@Localizer["Settings"]</a>
}

<h2>@Localizer["LearnMore"]</h2>
<span>@Localizer["AllDocumentationAvailableAt"]</span> <a href="https://github.com/tellurianinteractive/Tellurian.Trains.ModuleMeetingApp/wiki" target="_blank">Wiki</a> (english only).

@code {
    Registration? Registration;
    private string? Html;

    protected override async Task OnInitializedAsync()
    {
        Html = await ContentService.GetHtmlContent(CultureInfo.CurrentCulture, "Index");
        Registration = await Registrations.Get();
        if (CanRegister)
        {
            await Clocks.User(ClockName, Registration?.ClockPassword, UserName, Client.VersionNumber);
        }
    }

    private string ClockName => Registration?.ClockName ?? string.Empty;
    private string UserName => Registration?.UserName ?? string.Empty;
    private bool CanRegister => Registration != null && !string.IsNullOrWhiteSpace(Registration.ClockName) && !string.IsNullOrWhiteSpace(Registration.UserName);
    private bool ShowSelectClockAndMoreSettings => Registration is not null && string.IsNullOrEmpty(Registration.UserName);
}
