@page "/"
@page "/user/{UserName}"
@using System.Globalization

@inject IStringLocalizer<App> Localizer
@inject ClocksService ClocksService
@inject RegistrationsService RegistrationsService
@inject ContentService ContentService
@inject IToastService ToastService

<h1>@string.Format(CultureInfo.CurrentCulture, Localizer["WelcomeUser"].Value, Registration?.UserName)</h1>
<LanguageSelector />

@if (Html is null)
{
    <div>@Localizer["WaitingForData"]</div>
}
else
{
    @((MarkupString)Html)
}
@if (ShowSelectClockAndMoreSettings)
{
    <h2>@Localizer["SelectClockAndMoreSettings"]</h2>
    <a class="btn btn-primary btn-sm w-50" href="settings">@Localizer["Settings"]</a>
}

<h2>@Localizer["LearnMore"]</h2>
<span>@Localizer["AllDocumentationAvailableAt"]</span> <a href="https://github.com/tellurianinteractive/Tellurian.Trains.ModuleMeetingApp/wiki" target="_blank">Wiki</a> (english only).

@code {
    [Parameter] public string? UserName { get; set; }
    Registration? Registration;
    private string? Html;

    protected override async Task OnInitializedAsync()
    {
        Registration = await RegistrationsService.GetAsync();
        if (UserName.HasText(2))
        {
            Registration.UserName = UserName;
            await RegistrationsService.SetAsync(Registration);
        }
        Html = await ContentService.GetHtmlContentAsync(CultureInfo.CurrentCulture, "Index");
        if (Registration.IsWithUserNameAndClockName())
        {
            var result = await ClocksService.UpdateUserAsync(ClockName, Registration.ClockPassword, Registration.UserName, ClientVersion.Value.ComparableVersionNumber());
        }
        else
        {
            ToastService.ShowInfo(Localizer["SelectClockAndMoreSettings"]);
        }
    }

    private string ClockName => Registration?.ClockName ?? ClockSettings.DemoClockName;
    private bool UsesDemoClock => Registration is null || ClockName == ClockSettings.DemoClockName;
    private bool ShowSelectClockAndMoreSettings => Registration is not null && string.IsNullOrEmpty(Registration.UserName);
}
