@page "/"
@using System.Globalization

@inject ClocksService Clocks
@inject RegistrationsService Registrations
@inject ContentService ContentService
@inject IStringLocalizer<App> Localizer
@inject IToastService ToastService

<h1>@string.Format(CultureInfo.CurrentCulture, Localizer["WelcomeUser"].Value, UserName)</h1>

@if (Html is null)
{
    <div>@Localizer["WaitingForData"]</div>
}
else
{
    @((MarkupString)Html)
}
@if (ShowSelectClockAndMoreSettings)
{
    <h2>@Localizer["SelectClockAndMoreSettings"]</h2>
    <a class="btn btn-primary btn-sm w-50" href="settings">@Localizer["Settings"]</a>
}

<h2>@Localizer["LearnMore"]</h2>
<span>@Localizer["AllDocumentationAvailableAt"]</span> <a href="https://github.com/tellurianinteractive/Tellurian.Trains.ModuleMeetingApp/wiki" target="_blank">Wiki</a> (english only).

@code {
    Registration? Registration;
    private string? Html;

    protected override async Task OnInitializedAsync()
    {
        Html = await ContentService.GetHtmlContentAsync(CultureInfo.CurrentCulture, "Index");
        Registration = await Registrations.GetAsync();
        if (Registration.IsWithUserNameAndClockName())
        {
            var result = await Clocks.UpdateUserAsync(ClockName, Registration.ClockPassword, Registration.UserName, ClientVersion.Value.ComparableVersionNumber());
            if (result.IsSuccessStatusCode)
            {
                
            }
        }
        else
        {
            ToastService.ShowInfo(Localizer["SelectClockAndMoreSettings"], Localizer["Info"]);
        }
    }

    private string ClockName => Registration?.ClockName ?? ClockSettings.DemoClockName;
    private string UserName => Registration?.UserName ?? ClockSettings.UnknownUserName;
    private bool HasNoUsername => Registration is null || UserName == ClockSettings.UnknownUserName;
    private bool UsesDemoClock => Registration is null || ClockName == ClockSettings.DemoClockName;
    private bool ShowSelectClockAndMoreSettings => Registration is not null && string.IsNullOrEmpty(Registration.UserName);
}
